<head>
<link rel="stylesheet" href="user.css">
</head>
<div class="background">
    <h1 class = "grade-title">通知表</h1>
    <h2 class = "grade-name"><%= @syuki_name %>様</h2>
    <div class ="grade-param">今週のあなたのしゅきポは<span><%= @syukie.point %>点</span>でした。</div>
    <p class ="grade-high"><%= "param" %>が一番高得点でした！</p>
    <p class= "high-dairy"><%= "param" %>だそうです。</p>
    <p class="grade-low"><%= "param" %>は、ちょっとぴえんでした。</p>
    <p class="low-dairy">何があったか思い返してみて！</p>
    <p class ="meet">これからもよろしくね！</p>
    <div class ="you"><%= @nickname %>より</div>
    param_count
</div>

<%= render "layouts/footer" %>