<head>
<link rel="stylesheet" href="user.css">
</head>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class = "avatar_cover">
        <%= image_tag current_user.avatar.url, class: 'user_avatar' %>
        <h2 class="syukies_name">
          <%= @user.nickname %>　&　<%= @user.syuki_name %>
        </h2>        
          <table class="table">
          <tbody>
            <tr>
              <th class="table__col1"><i class="fa-solid fa-heart"></i></th>
              <td class="table__col2"><%= @user.syuki_name %></td>
            </tr>

            <tr>
              <th class="table__col1"><i class="fa-solid fa-calendar-check"></i></th>
              <td class="table__col2"><%= @user.since %></td>
            </tr>
          </tbody>
        </table>
      </div>
        <div class ="user_profile">
          <div class="profile_card">❤︎Profile❤︎</div>
        </div>
        <div class="profile_text">
        <%= @user.profile %>
        </div>
          <div class ="grade-cover">
            <div class="btn btn-border"><%= link_to '通知表を見る', grade_user_path(current_user.id), class: "spin" %></div>
            <%# <a class="btn btn-border" href= grade_user_path(current_user.id)><span>通知表</span></a> %>
          </div>
          <div class = "foot-menu">
            <% if user_signed_in? %>
            <div><%= link_to "マイページ編集", edit_user_registration_path, class: "menu-btn" %></div>
            <% else %>
            <div><%= link_to "MY PAGE", new_user_registration_path, class: "menu-btn" %></div>
            <% end %>
            <div><%= link_to "投稿する", "/syukies/new", class: "menu-btn" %></div>
            <div><%= link_to "通知表", "https://twitter.com/program0832", class: "menu-btn" %></div>
            <div><%= link_to "トップへ", "/syukies/new", class: "menu-btn" %></div>
          </div>
        <hr>
      <h2 class="page-heading">
        思い出リスト
      </h2>
      <hr>
      <div class="user__card">
        <%= render partial: 'syukies/syukie', collection: @syukies %>
      </div>
    </div>
  </div>
</div>