<div class="wrap">
  <div class="wrap slide-paused" ontouchstart="">
    <div class="slideshow">
      <%= link_to image_tag("dammy01.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy02.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy03.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy04.jpg", class:"content hover"), "/" %>
    </div>
    <div class="slideshow">
      <%= link_to image_tag("dammy01.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy02.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy03.jpg", class:"content hover"), "/" %>
      <%= link_to image_tag("dammy04.jpg", class:"content hover"), "/" %>
    </div>
  </div>
</div>
