<div class = "cover">
<div><%= link_to "❤︎今日のしゅきぴは？❤︎", "/syukies/new", class: "new_syukie_btn" %></div>
</div>
<div class="wrap">
  <div class="wrap slide-paused" ontouchstart="">
    <% if @syukies.present? %>
      <div class="slideshow">
        <%= render partial: "syukie", collection: @syukies ,class:"hover"%>
      </div>
    <% else %>
      <div class="slideshow">
        <%= image_tag("dammy01.jpg", class:"content hover") %>
        <%= image_tag("dammy02.jpg", class:"content hover") %>
        <%= image_tag("dammy03.jpg", class:"content hover") %>
        <%= image_tag("dammy04.jpg", class:"content hover") %>
      </div>
      <div class="slideshow">
        <%= image_tag("dammy01.jpg", class:"content hover") %>
        <%= image_tag("dammy02.jpg", class:"content hover") %>
        <%= image_tag("dammy03.jpg", class:"content hover") %>
        <%= image_tag("dammy04.jpg", class:"content hover") %>
      </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footer" %>