<div class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <div class ="datal"><%= @syukie.date %></div>
    </div>
    <div class="prototype__wrapper">
      <div class ="caplle">
      <%= link_to @syukie.user.nickname, user_path(@syukie.user.id), class: :syukie__user %>&<%= link_to @syukie.user.syuki_name, user_path(@syukie.user.id),class: :syukie__user %>
      </div>
    </div>
    <div class="prototype__wrapper">
      <div class="syukie__image">
        <%= image_tag @syukie.image, class: "syukie_photo"%>
      </div>
    </div>
    <div class="prototype__wrapper">
      <div class="detail__title">❤︎思い出❤︎</div>
    </div>
    <div class="prototype__wrapper">
      <div class ="dairys"><%= @syukie.diary %></div>
    </div>
    <div class="prototype__wrapper">
        <p class="detail__title">❤︎しゅき偏差値❤︎</p>
    </div>
    <div class="prototype__wrapper">
      <div class="points"><%= @syukie.point %>point!</div>
    </div>
    <div class="editbox">
      <% if current_user == @syukie.user %>
        <div class="syukie__manage">
          <%= link_to "編集する", edit_syuky_path(@syukie.id), class: :prototype__btn %>
          <%= link_to "削除する", syuky_path(@syukie.id), method: :delete, class: :prototype__btn %> 
        </div>
      <% end %>
    </div>
  </div>
</div>
