<div class = "foot-cover">
  <% if user_signed_in? %>
  <div><%= link_to "MY PAGE", "/users/#{current_user.id}", class: "foot-btn" %></div>
  <% else %>
  <div><%= link_to "MY PAGE", new_user_registration_path, class: "foot-btn" %></div>
  <% end %>
  <div><%= link_to "POST", "/syukies/new", class: "foot-btn" %></div>
  <div><%= link_to "NEWS", "https://twitter.com/program0832", class: "foot-btn" %></div>
  <div><%= link_to "EVENT", "/syukies/new", class: "foot-btn" %></div>
</div>

<div class ="banner">
  <div class = banner-cover>
    <div class="banner-item"><%= link_to image_tag("frige01.png", class:"frige"), "#" %></div>
    <div class="banner-item"><%= link_to image_tag("baner01.png", class:"frige"), "#" %></div>
    <div class="banner-item"><%= link_to image_tag("baner02.png", class:"frige"), "#" %></div>
  </div>
</div>
<div class='footer'>
<h2 class='footer-content-head'>syukiesについて</h2>
  <div class='footer-contents'>
  
    <div class='details'>
      
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'syukies利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <%# <div class='details'>
      <h2 class='footer-content-head'>syukiesを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" ></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" ></li>
      </ul>
    </div> %>
    <div class='details'>
      <ul>
        <li><%= link_to 'syukiesガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class ="logo-cover"> 
    <%= link_to image_tag("whitelogo.png", class:"logo-white"), "#" %>
  </div>
  <div class ="company">© syukies</div>
</div>